<h1>Angular CodeEvolution</h1>
<!-- <data-binding-interpolation></data-binding-interpolation> -->
<!-- <data-binding-property-binding></data-binding-property-binding> -->
<!-- <data-binding-class-binding></data-binding-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-ref-var></app-template-ref-var> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-componenet-interaction (childEvent)="message=$event" [parentData]= "name"></app-componenet-interaction>{{message}} -->
<app-pipess></app-pipess>