<div>
  Welcome
</div>
<hr>
<h1>
  {{ title }}

  {{ description }}
</h1>
<!--
This is type 1  -->
<h2> This is Type 1 , selector can directly be used by typing        element-name directly as a legacy selector:

    This type of selector can access directly by typing the selector name inside the < > brackets as:
</h2>

<hr>
<!--
this is type 2 -->
<app-test></app-test>
<h2>
    This is Type 2 , The selector can also be select by class just like in CSS by putting a dot in the beginning:

    In this, we can select by class as:


</h2>

<div class= "app-test2"></div>
<hr>
<!--
this is type 3 -->

<h2>
    This is Type 3 ,The selector can be used as attribute selector by put the selector into square brackets:

    In this, we have changed our selector to be an attribute. To access this type of attribute selector we have to put this as an attribute inside a div or any other element as:
</h2>

<div app-test.3> </div>
<!-- 
This is for html template example -->
<hr>
<app-inline-template> </app-inline-template>
<hr>

<app-multin></app-multin>

<hr>

<app-stlcomp></app-stlcomp>
